body{
    background-image: url(/static/img/cobro.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.cuerpo{
    background-color: rgba(80, 235, 255, 0.515);
    padding: 2%;
    width: 50%;
    border-radius: 20px;
}
#h2s{
    border: black solid;
    border-radius: 10px;
}
#confirmar{
    padding: 3%;
}