{% extends "base_template2.html" %}
{% block title %} Ingreso {% endblock %}
{% block content %}

<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styleNewU.css') }}">
</head>

<body>
    <form method="POST" action="{{url_for('newProduct')}}">
        <div class="container-fluid row">
            <h1>Nuevo Producto</h1>
            <br>
            <div class="input-group col-sm-12">
                <span class="input-group-addon" for="Name">Nombre de Producto: </span>
                <input class="form-control" type="text" name="Name" id="INombre">
            </div>
            <br>
            <div class="input-group col-sm-12">
                <span class="input-group-addon" for="Precio">Precio Unitario</span>
                <input class="form-control" type="text" name="Precio" id="IPrecio">
            </div>
            <br>
            <button class="btn btn-success" type="submit"><span class='icon-save'></span> Guardar Datos </button>
        </div>
    </form>
    <br><br><br>
</body>

{% endblock %}